---
title: "Joshua (Josh) Peeples, Ph.D."
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.4"
  overlay_image: /images/cover_photo_2.jpg
  cta_label: "About"
  cta_url: "/aboutme/"
  caption: "Photo by Artem Sapegin on Unsplash" # Photo: Lake Michigan" 
excerpt: "ACES Faculty Fellow and Incoming Assistant Professor at Texas A&M University"
intro:
  - excerpt: '"Study to show thyself approved unto God, a workman that needed not to be ashamed, rightly dividing the word of truth" ~II Timothy 2:15'
feature_row:
  - image_path: /images/research.jpg
    title: "Research"
    # excerpt: "My research projects"
    btn_label: "Learn more"
    btn_class: "btn--primary"
    url: "/research/"
    caption: "Photo by Fabian Grohs on Unsplash"
  - image_path: /images/present_pubs.jpg
    title: "Publications"
    # excerpt: "Dissemenation of my work"
    btn_label: "Check it out"
    btn_class: "btn--primary"
    url: "/present_pubs/"
    caption: "Photo by Aaron Burden on Unsplash"
  - image_path: /images/rsz_cv.jpg
    title: "Curriculum Vitae"
    # excerpt: "My CV"
    btn_label: "View CV"
    btn_class: "btn--primary"
    url: "/documents/Joshua Peeples CV.pdf"
    caption: "Photo by Helloquence on Unsplash"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
